<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iiitd.muc.energylens"
    android:versionCode="102"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" >
    </supports-screens>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.iiitd.muc.energylens.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.iiitd.muc.energylens.CollectionTabActivity"
            android:label="@string/title_activity_collection_tab"
            android:screenOrientation="portrait" >
        </activity>
        
        <service
            android:name="com.iiitd.muc.energylens.AxlService"
            android:enabled="true" />
        <service
            android:name="com.iiitd.muc.energylens.WiFiService"
            android:enabled="true" />
        <service
            android:name="com.iiitd.muc.energylens.AudioService"
            android:enabled="true" />
        <service
            android:name="com.iiitd.muc.energylens.LightService"
            android:enabled="true" />
        <service
            android:name="com.iiitd.muc.energylens.MagService"
            android:enabled="true" />
        <service
            android:name="com.iiitd.muc.energylens.UploaderService"
            android:enabled="true" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="089ec5b2bd9235f5f2655bfa69944ad4a889004a" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.iiitd.muc.energylens.TrainActivity"
            android:label="@string/title_activity_train"
            android:parentActivityName="com.iiitd.muc.energylens.CollectionTabActivity"
            android:screenOrientation="portrait" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CollectionTabActivity" />
        </activity>
        <activity
            android:name="com.iiitd.muc.energylens.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.iiitd.muc.energylens.ReassignActivity"
            android:label="@string/title_activity_reassign" >
        </activity>

        <receiver android:name="com.iiitd.muc.energylens.ToggleServiceReceiver" >
            <intent-filter>
                <action android:name="EnergyLensPlus.toggleService" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.iiitd.muc.energylens.UpdateAlarmReceiver" >
            <intent-filter>
                <action android:name="EnergyLensPlus.updateAlarm" />
            </intent-filter>
        </receiver> 
        <receiver android:name="com.iiitd.muc.energylens.BootupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.iiitd.muc.energylens.WiFiService$WifiReceiver" >
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.WifiManager.SCAN_RESULTS_AVAILABLE_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.iiitd.muc.energylens.GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="com.iiitd.muc.energylens.GcmIntentService" />

        <activity
            android:name="com.iiitd.muc.energylens.GCMActivity"
            android:label="@string/title_activity_collection_tab"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iiitd.muc.energylens.TimeSelectActivity"
            android:label="@string/title_activity_time_select"
            android:parentActivityName="com.iiitd.muc.energylens.CollectionTabActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.energylens.CollectionTabActivity" />
        </activity>
        <activity
            android:name="com.iiitd.muc.energylens.DisaggregationActivity"
            android:label="@string/title_activity_correction"
            android:parentActivityName="com.iiitd.muc.energylens.CollectionTabActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.energylens.CollectionTabActivity" />
        </activity>
        <activity
            android:name="com.iiitd.muc.energylens.GroundReportActivity"
            android:label="@string/title_activity_ground_report"
            android:parentActivityName="com.iiitd.muc.energylens.GroundReportListActivity" 
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.energylens.GroundReportListActivity" />
        </activity>
        <activity
            android:name="com.iiitd.muc.energylens.GroundReportListActivity"
            android:label="@string/title_activity_ground_report_list"
            android:parentActivityName="com.iiitd.muc.energylens.CollectionTabActivity" 
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.energylens.CollectionTabActivity" />
        </activity>
        <activity
            android:name="com.iiitd.muc.energylens.SocketActivity"
            android:label="@string/title_activity_socket"
            android:parentActivityName="com.example.hw_3.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hw_3.MainActivity" />
        </activity>
        <activity
            android:name="com.iiitd.muc.energylens.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.iiitd.muc.energylens.CollectionTabActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.energylens.CollectionTabActivity" />
        </activity>
    </application>

</manifest>